$primary-bg-color: #2F394E;
$font-size: 16px;
$typography-style: 'Roboto';
$typography-primary-color: #fff;
$typography-secondary-color: rgba(255, 255, 255, .6);
$typography-tertiary-color: rgba(255, 255, 255, .3);
$blue: #0078FF;
$green: #2CCC70;
$gray: #eee;