@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@import "partials/variables";

html, body
{
  font-size: $font-size;
  box-sizing: border-box;
}

.App
{
  padding-left: 0;
  padding-right: 0;
  .home
  {
    text-align: center;
    padding-top: 10vh;
  }

  .credentials-box
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card
    {
      min-width: 50vw;
    }
  }
}

a:hover
{
  text-decoration: none;
}

.navbar
{
  background: $primary-bg-color;
  a
  {
    color: $typography-primary-color;
  }
  .menu
  {
    display: flex;
    width: 20vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
    li
    {
      color: $typography-primary-color;
    }
  }
}

/**
  Avatar Section
 */
.avatar
{
  background: $gray;
  height: 2rem;
}

.avatar-name
{
  margin-left: 10px;
}